<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211095835284-emhbobc75lpaa5g45nvp35l47sjsnndr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211095835284-emhbobc75lpaa5g45nvp35l47sjsnndr</string>
	<key>API_KEY</key>
	<string>AIzaSyAjPRpepwJ21wOsfqCYmZcssgKKHdc8CBs</string>
	<key>GCM_SENDER_ID</key>
	<string>211095835284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Romil.assignment5</string>
	<key>PROJECT_ID</key>
	<string>movielistassignment5</string>
	<key>STORAGE_BUCKET</key>
	<string>movielistassignment5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211095835284:ios:986fc20acb90fb9e161a81</string>
</dict>
</plist>